/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.menu {
  justify-content: space-between;
  align-items: center;
}
.menu__logo {
  font-size: var(--font-md);
}
.menu__item {
  margin-inline: 15px;
}
.menu__link {
  font-size: var(--font-sm);
  color: var(--color-trn);
}
.menu__link:hover {
  font-size: var(--font-sm);
}
.menu__link:hover {
  font-size: var(--font-sm);
}
.menu__link:active {
  font-size: var(--font-sm);
}
.menu__user-details {
  cursor: pointer;
}
.menu__user-details i {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin-inline: 5px;
  border-radius: 50px;
}
