@font-face {
  font-family: "Green-Heaven";
  src: url("./icons/Green-Heaven.eot?pc0hb8");
  src: url("./icons/Green-Heaven.eot?pc0hb8#iefix") format("embedded-opentype"),
    url("./icons/Green-Heaven.ttf?pc0hb8") format("truetype"),
    url("./icons/Green-Heaven.woff?pc0hb8") format("woff"),
    url("./icons/Green-Heaven.svg?pc0hb8#Green-Heaven") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gh-"],
[class*=" gh-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Green-Heaven" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gh-search:before {
  content: "\e907";
}
.gh-envelope:before {
  content: "\e909";
}
.gh-user:before {
  content: "\e90c";
}
.gh-moon:before {
  content: "\e913";
}
.gh-bell:before {
  content: "\e914";
}
.gh-folder:before {
  content: "\e915";
}
.gh-pin:before {
  content: "\e916";
}
.gh-sound:before {
  content: "\e917";
}
.gh-microphone:before {
  content: "\e918";
}
.gh-camera:before {
  content: "\e919";
}
.gh-image:before {
  content: "\e91a";
}
.gh-cog:before {
  content: "\e91b";
}
.gh-calendar:before {
  content: "\e91c";
}
.gh-book:before {
  content: "\e91d";
}
.gh-map-marker:before {
  content: "\e91e";
}
.gh-store:before {
  content: "\e91f";
}
.gh-support:before {
  content: "\e920";
}
.gh-tag:before {
  content: "\e921";
}
.gh-heart:before {
  content: "\e922";
}
.gh-video-camera:before {
  content: "\e923";
}
.gh-trophy:before {
  content: "\e924";
}
.gh-cart:before {
  content: "\e925";
}
.gh-eye:before {
  content: "\e926";
}
.gh-cancel:before {
  content: "\e927";
}
.gh-chart:before {
  content: "\e928";
}
.gh-target:before {
  content: "\e929";
}
.gh-printer:before {
  content: "\e92a";
}
.gh-location:before {
  content: "\e92b";
}
.gh-bookmark:before {
  content: "\e92c";
}
.gh-monitor:before {
  content: "\e92d";
}
.gh-cross:before {
  content: "\e92e";
}
.gh-plus:before {
  content: "\e92f";
}
.gh-left:before {
  content: "\e930";
}
.gh-up:before {
  content: "\e931";
}
.gh-browser:before {
  content: "\e932";
}
.gh-windows:before {
  content: "\e933";
}
.gh-switch:before {
  content: "\e934";
}
.gh-dashboard:before {
  content: "\e935";
}
.gh-play:before {
  content: "\e936";
}
.gh-fast-forward:before {
  content: "\e937";
}
.gh-next:before {
  content: "\e938";
}
.gh-refresh:before {
  content: "\e939";
}
.gh-film:before {
  content: "\e93a";
}
.gh-home:before {
  content: "\e93b";
}
